@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #282c34;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  flex-basis: 49%;
  background-color: #5c6576;
}

.email-list {
  height: 70vh;
  overflow-y: auto;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
